<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashvini</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
    <img class="firstimg" src="http://getwallpapers.com/wallpaper/full/0/a/c/564421.jpg" >
     <div class="headline">
    <h1>I'm Ashvini</h1>
    <a href="#">A <u>Pro</u>grammer.</a>
</div></div>

<img class="secondimg" src="https://www.kindpng.com/picc/m/271-2711764_girl-image-in-circle-hd-png-download.png">

<h2>Hello...!!!</h2><br><br>
<div class="content">
<p>I am Python developer. Currently pursuing AWS cloud practitioner  <br>certificate from Edubridge.
   I ❤️ cooking and dancing.
</p>
</div>
<br><br>

    <h2>My Skills.</h2><br><br>
<div class="skil">
    <img class="thirdimg" src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExc3N2cGpkcTVrZmVuZGd1Z3lkbWo2czkwZnV4dnZ2MTg1MDh4endzNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/VbnUQpnihPSIgIXuZv/giphy.gif">
    
    <div class="text">
    <h6>Design & Development</h6>
    <p>I started learning to code during my first year of graduation.
        Of course I've started late to code but when I started
         my journay of coding with full dedication.
        I have gained wealth of experience in HTML, CSS , Python and SQL and 
        designing as well as developing projects and applications.
    </p></div>
</div>

<br>
<div class="skill">
    <div class="textt">
        <h6>Cooking</h6>
        <p>But my best skill is actually cooking.
            Cooking everyday with new kind of recipes
            makes my day special and enthusiastic.
            It also helps me to remove my stress and 
            be healthy as I like only healthy vegetables cooking.

        </p></div>
    <img class="fourthimg" src="https://media.self.com/photos/57d8a54324fe9dae32831ef3/master/pass/healthy-cooking-8701.jpg">
    
   
</div>
<br><br>

<h2>Get In Touch</h2>
<div class="get">
    <br>
<p style="color: rgb(2, 211, 193);"><b>If you love cooking as much as I do.</b></p>
<br>
<p>Love cooking as much as I do? Let's talk about how awesome to cook and eat!
    <br>We can code while we eat our favorite dish!
</p>

<button>CONTACT ME</button>
</div>
<br><br> 

<div class="footer">
    <br>
        <ul class="navbar">
            <br>
            <li><a href="#">Likedin</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Website</a></li>
        </ul>
        
        <p style="text-align: center; margin-left: 8%; color: white;">@2024 Ashvini Davale</p>

<br>    </div>
</body>
</html>